body {   
   margin: 6px;
   font-size: 12px;
	padding: 5px;
	background-color: #ffffff;
	border-bottom: solid 1px #0867b3;
	border-left: solid 1px #0867b3;
	border-right: solid 1px #0867b3;
}
div,td,dt {
	font-size: 12px;
}
p {
	line-height: 12px;
}
a {
   font-family:verdana,arial,helvetica,sans-serif; 
	font-size:12px; 
	color: #1b3442; 
	text-decoration:underline;
}
a:hover {
   text-decoration:none ; 
	color:#00b4ff;
}	

.menu_css_01 {
   color:#1b3442;
	font-size: 12px;
	background-repeat: no-repeat;
	text-align: center;
}